// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// *************************************

.row
  overflow: hidden
  padding: 0 $b-space-m

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.row--invert
  background: $c-light
