// *************************************
//
//   Well
//   -> Vertical spacing
//
// *************************************

.well
  margin-bottom: ($b-space-l * 1.25)
  margin-top: ($b-space-l * 1.25)
  +respond-to($g-m)
    margin-bottom: $b-space-xl
    margin-top: $b-space-xl

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //
