// *************************************
//
//   Well
//   -> Vertical spacing
//
// *************************************

.well
  margin-bottom: ($b-space-l * 1.75)
  margin-top: $b-space-m

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.well--article
  margin: ($b-space-xl * 0.75) auto $b-space-xl
