.row
  .cell.well
    %a.logo{href: '/'}
      %h4 Designer &amp; Developer
      %h2 John Wilson
    %h1.mtxl.ptxl
      %span.tca Designer, Developer
      %br
      %span Husband, Father &amp; Cyclist
    .g
      .g-b.g-b--m--1of2
        %p.tci
          John currently works at <a href="http://madewithenvy.com/">Envy</a>
          and takes on various freelance projects. He has helped large
          companies and small business plan, design and develop websites
          and apps that help them become more successful on the web.
        %a.btn{href: '/about'} Hire John

.row.row--invert
  .cell.well
    
